.login-form input{
    margin-top: 300px;
    border-radius: 3px;
    height: 30px;
    width: 300px;
    display: block;
    text-align: center;
}

.login-form input[type=submit] {
    color: #fff;
    width: 80%;
    height: 48px;
    font-size: 20px;
    background-color: #ea5415;
    border: none;
    margin-top: 64px;
    left:11%;
    position: relative;
}

.login-form input[type=submit]:hover {
    cursor: pointer;
}